.attributes-ul,
.choices-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.attribut {
  border: 1px solid green;
}

.choice > label {
  background-color: var(--forms-background-color);
}

.choice:hover > i {
  /* background-color: lavender; */
  visibility: visible;
  transition: ease-in-out .5s .5s;
}

.choice > i {
  visibility: hidden;
}
