.container {
  display: grid;
  grid-template-columns: 2fr 4fr;
  font-family: var(--icon-font);
  font-size: 1rem;
}

.list {
  /* grid-column: 2/7; */
  /* display: flex; */
  padding-top: 0.2rem;
  padding-left: 0.2rem;
  border: 1px solid blue;
  background-color: cornsilk;
  cursor: default;
}

.list h3 {
  text-align: center;
  border-bottom: grey solid 2px;
  margin: 0.5rem;
  color: var(--icon-color);
}

.selected {
  background-color: lavender;
}

.del {
  margin-left: 1rem;
}

.del::before {
  content: '\f2ed';
  font-weight: 900;
  color: tomato;
}

.head {
  display: block;
  background-color: lightblue;
  position: sticky;
  top: 8rem;
  z-index: 101;
}

.head i {
  margin-left: .5rem;
  color: var(--icon-color);
}

.buttons {
  display: inline-block;
  padding: 3px;
}

#form-search label,input {
  margin: .2rem;
  display: flex;
}

.search {
  display: flex;
}

.filter-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: .2rem;
}

.filter {
  color: var(--icon-color);
  cursor: pointer;
  border: 1px solid var(--icon-color);
  font-family: var(--icon-font);
  font-weight: bold;
  border-radius: 0.5rem;
  padding: .3rem;
}

.hidden {
  display: none;
}

#form-search fieldset:not(.hidden) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: .5rem;
  justify-content: flex-start;
}

.form-search-price,
.form-search-date {
  display: flex;
  flex-direction: column;
  margin: .5rem;
  justify-content: space-between;
}
