header img {
  vertical-align: middle;
  margin: 0.5rem 1rem;
  width: 2rem;
}
header h2 {
  display: inline;
  color: rgb(13, 4, 131);
}

header {
  grid-area: h;
  background-image: linear-gradient(to right bottom, rgb(200, 200, 252), rgb(80, 80, 247));
  border-radius: 5px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.lng {
  display: flex;
  float: right;
  padding: 1rem;
}
