#form-product {
  display: inline-block;
  font-family: var(--icon-font);
  /* width: 90vw; */
  border: 1px solid lightseagreen;
  background-color: cornsilk;
  /* vertical-align: middle; */
  --color-form-icon: rgba(248, 122, 99, 0.829);
}

.barcodes {
  display: inline-block;
  border: 1px solid lightskyblue;
  padding: 5px;
  background-color: initial;
  width: 10em;
}

.barcodes-hidden {
  display: none;
}

.id-barcodes-photos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.uuid {
  display: flex;
  justify-content: stretch;
}

.uuid input {
  border: none;
  font-weight: bold;
  padding-left: 5px;
}

/* [name='img_barcodes'] {
  display: inline-flex;
} */

.tree {
  position: absolute;
  display: block;
  top: 1rem;
  text-align: start;
  border: solid 1px blueviolet;
  background-color: white;
  transition: ease-in-out top 0.5s 0.5s;
}

.prices {
  display: flex;
  /* flex-direction: column; */
}

.prices label {
  flex-grow: 1;
}

.price + span::before {
  content: '\f158';
  font-weight: 900;
  margin-right: 0.3rem;
  font-family: var(--icon-font);
}

.description {
  display: flex;
  flex-grow: 1;
}

input[name='description'] {
  text-align: right;
  border: none;
  background-color: initial;
}

#form-product [name='name'] {
  border: 1px solid blue;
  height: 2.5rem;
  width: 100%;
}

label {
  font-weight: bold;
  border: 1px blueviolet solid;
  padding: 3px;
  color: indigo;
}

label:hover {
  border: 1px lawngreen double;
}

.picture-small {
  width: 64px;
  cursor: pointer;
}

.div-picture {
  display: inline-block;
}

.div-picture:hover > span::before {
  content: '\f2ed';
  font-weight: 900;
  color: tomato;
}

.select::after {
  content: '\f00d';
  font-weight: bolder;
  margin-right: 0.3rem;
}

input,
textarea,
select,
button {
  color: darkblue;
}

.buttons {
  display: flex;
}

*:disabled {
  color: coral;
}

.big-img + span::before {
  content: '\f00d';
  font-weight: 900;
  color: tomato;
}

.view-barcode {
  font-size: 2rem;
  font-family: var(--barcode-font);
}
.view-barcode ul > li {
  display: inline;
}
.view-barcode li .del-bc::before {
  content: '\f2ed';
  font-size: 1.5rem;
  opacity: 0;
}
.view-barcode li:hover .del-bc::before {
  display: inline-block;
  font-family: var(--icon-font);
  font-size: 1rem;
  content: '\f2ed';
  font-weight: 900;
  color: tomato;
  opacity: 70%;
  transition: ease-in-out 0.5s 0.5s;
}
.view-barcode .add-bc::before {
  content: 'add \f02a';
  font-size: 1.5rem;
  opacity: 0;
}
.view-barcode input:focus + .add-bc::before {
  display: inline-block;
  font-family: var(--icon-font);
  font-size: 1.5rem;
  content: '\f02a';
  font-weight: 900;
  color: green;
  opacity: 70%;
  transition: ease-in-out 0.5s 0.5s;
}

.menu-buttons {
  display: block;
  font-size: large;
}

.menu-buttons span {
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  background-color: rgba(241, 176, 114, 0.76);
}
.menu-buttons i {
  float: right;
  color: var(--color-form-icon);
}

#copy {
  float: left;
}

.required {
  border: red 1px solid;
}

.propertyes {
  display: flex;
  border: gray dashed 1px;
}

.tax {
  flex: 1;
}
