* {
  --color-form-background: whitesmoke;
  --color-form-icon: var(--icon-color);
  --color-form-icon-warn: tomato;
  --color-form-font: darkblue;
}

#form-product {
  display: inline-block;
  font-family: var(--icon-font);
  background-color: var(--color-form-background);
  border-radius: .5rem;
  box-shadow: 0 0 1rem;
}

label {
  font-weight: bold;
  color: indigo;
}

.menu-buttons {
  display: flex;
  justify-content: space-between;
  font-size: large;
  cursor: pointer;
}

.menu-buttons * {
  margin: .5rem;
}

.menu-buttons-groups {
  flex:1;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  color: var(--color-form-font);
  box-shadow: gray 0 0 .5rem;
  /* border: gold 1px solid; */
  /* background-color: var(--color-form-icon); */
}

.menu-buttons-groups:hover {
  background-color: var(--forms-button-hover);
}

.menu-buttons i {
  color: var(--color-form-font);
}

.menu-buttons i:hover {
  color: var(--forms-button-hover);
}

.product-info {
  display: flex;
  flex-direction: column;
  color: var(--color-form-font);
}

.id-barcodes-photos {
  display: flex;
}

.uuid,
.allow-edit {
  display: flex;
  flex-grow: 1;
}

.uuid > input {
  border: none;
  font-weight: bold;
  flex-grow: 1;
}

.allow-edit {
  justify-content: flex-end;
}

.form-photo {
  display: flex;
}

.picture-small {
  width: 5rem;
  cursor: pointer;
}

.div-picture:hover > span::before {
  content: '\f2ed';
  font-weight: 900;
  color: var(--color-form-icon-warn);
}

.barcodes {
  display: flex;
  flex-direction: column;
  background-color: initial;
}

.barcode {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
}

.barcode > span {
  font-family: var(--icon-font);
  font-size: medium;
  background-color: rgba(248, 223, 142, 0.637);
}

.barcodes input:focus + .add-bc::before {
  display: inline-block;
  font-family: var(--icon-font);
  font-size: 1.5rem;
  content: '\f02a';
  font-weight: 900;
  color: green;
  opacity: 100%;
  transition: ease-in-out 0.5s 0.5s;
}

.barcodes-hidden {
  display: none;
}

.barcode-err {
  font-family: var(--icon-font);
  color: var(--color-form-icon-warn);
  font-size: .8rem;
}

.view-barcode {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: var(--barcode-font);
}
.view-barcode ul > li {
  display: inline-flex;
}
.view-barcode li .del-bc::before {
  content: '\f2ed';
  font-size: 3rem;
  opacity: 0;
}
.view-barcode li:hover .del-bc::before {
  /* display: flex; */
  font-family: var(--icon-font);
  content: '\f2ed';
  font-size: 2rem;
  color: var(--color-form-icon-warn);
  opacity: 100%;
  transition: ease-in-out 0.5s 0.5s;
}

.code_article {
  display: flex;
}

.code,
.article-number {
  display: flex;
  flex-grow: 1;
}

.code > input,
.article-number > input {
  font-weight: bold;
  flex-grow: 1;
}

.code > input {
  text-align: right;
}

.propertyes {
  display: flex;
}

.tax {
  flex: 1;
}

.tree-container {
  display: flex;
}

.g-tree {
  flex: 1;
  box-shadow: gray 0 0 .5rem;
  border-radius: .5rem;
  padding: 0;
  margin: 0;
}

.g-tree:hover {
  background-color: var(--forms-button-hover);
  cursor: pointer;
}

.tree {
  position: absolute;
  display: block;
  top: 1rem;
  text-align: start;
  border: solid 1px blueviolet;
  background-color: white;
  transition: ease-in-out top 0.5s 0.5s;
}

.name, .description {
  display: flex;
}

.name > input,
.description > input {
  flex: 1;
}


.prices {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.price {
  display: flex;
  flex: 1;
}

.price > input {
  flex: 1;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.button-submit,
.button-cancel {
  border-radius: .5rem;
  box-shadow: gray 0 0 .5rem;
  font-size: large;
}

.button-submit > input {
  display: none;
}

.button-submit:hover {
  background-color: var(--forms-button-hover);
  cursor: pointer;
}
.button-cancel:hover {
  background-color: var(--color-form-icon-warn);
  cursor: pointer;
}

.select::after {
  content: '\f00d';
  font-weight: bolder;
  margin-right: 0.3rem;
}



*:disabled {
  color: coral;
}

.big-img + span::before {
  content: '\f00d';
  font-weight: 900;
  color: tomato;
}

.required {
  border: red 1px solid;
}

.product-dates {
  display: flex;
  justify-content: space-around;
  border-radius: .5rem;
  background-color: rgba(248, 223, 142, 0.637);
}

.created_at,
.updated_at {
  display: flex;
}
.created_at *,
.updated_at * {
  margin: 0;
  padding: 0 .2rem 0 .2rem;
}

.attr-container {
  border: 1px solid green;
  border-radius: .5rem;
}

.attr-container h4 {
  margin-top: .5rem;
}

.attr {
  display: flex;
  justify-content: space-around;
}

.attr-select {
  border: 1px solid green;
  border-radius: .5rem;
}

.attr-choices {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: .5rem;
  cursor: default;
}

.choice {
  padding: .2rem .5rem;
  background-color: var(--color-form-icon);
  border-radius: .5rem;
  box-shadow: gray 0 0 .5rem;
}

.choice:hover {
  background-color: lavender;
}

.choice.selected {
  background-color: lawngreen;
}
